// .footer-form {
//   height: 13rem;
//   font-size: 13px;
//   & .footer-content {
//     border-top: 1px solid rgba(206, 206, 206, 0.555);
//     background-color: rgb(255, 253, 253);
//     height: 100%;
//     padding: .5rem;

//     & p {
//       margin-bottom: 0.05rem;
//     }
//   }
// }
.footer__margin{
  margin-top: 300px;
}
// body {
    // display:grid;
    // grid-template-rows: 1fr auto;
    // grid-template-areas:"main" "footer";
    // overflow-x:hidden;
    // background:#F5F7FA;
    // min-height:100vh;
    // font-family: 'Open Sans', sans-serif;
    .footer {
      // font-size: 1px;
        z-index: 1;
        --footer-background:#ED5565;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:3rem;
        .bubbles {
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:.25rem;
            background:var(--footer-background);
            filter:url("#blob");
            .bubble {
                position: absolute;
                left:var(--position, 50%);
                background:var(--footer-background);
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
            }
        }
        .content {
          // height: 10%;
            z-index: 2;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 2rem;
            padding:1rem;
            background:var(--footer-background);
            a, p {
                color:#F5F7FA;
                text-decoration:none;
            }
            b {
                color:white;
            }
            p {
                margin:0;
                font-size:.375rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.125rem 0;
                    >* {
                        margin-right:.25rem;
                    }
                }
                .image {
                    align-self: center;
                    width:1rem;
                    height:1rem;
                    margin:0.125rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
// }

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 1rem);
        height:var(--size, 1rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-1rem;
    }
    100% {
        bottom:var(--distance, 3rem);
    }
}
