.asideOn-footer {
  padding-left: 220px;
}

.footer__margin {
  margin-top: 60px;
}
.footer {
  z-index: 1;
  --footer-background: #fa233b;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 3rem;
  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.25rem;
    background: var(--footer-background);
    filter: url('#blob');
    .bubble {
      position: absolute;
      left: var(--position, 50%);
      background: var(--footer-background);
      border-radius: 100%;
      animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
        bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
      transform: translate(-50%, 100%);
    }
  }
  .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 1rem;
    background: var(--footer-background);
    a,
    p {
      color: #f5f7fa;
      text-decoration: none;
    }
    b {
      color: white;
    }
    p {
      margin: 0;
      font-size: 0.375rem;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > div {
        margin: 0.125rem 0;
        > * {
          margin-right: 0.25rem;
        }
      }
      .image {
        align-self: center;
        width: 1rem;
        height: 1rem;
        margin: 0.125rem 0;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 1rem);
    height: var(--size, 1rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -1rem;
  }
  100% {
    bottom: var(--distance, 3rem);
  }
}

.margin_top_rem {
  margin-top: 1rem;
  span {
    font-weight: bold;
  }
}

#footer__color {
  border-top: 1px solid rgba(206, 206, 206, 0.555);
  background-color: #f6faffd1;
  padding: 1rem 0;
}

.footer_membership {
  color: black;
  font-weight: bold;
}

.footer_title {
  text-align: center;
}

.footer__text {
  font-size: large;
}
