//main - 인기순, 댓글순, 최신순 정렬
.selectTab {
  margin-left: 1rem;
}

.main .col {
  bottom: 48px !important;
}

.vodSort-form .stage.clearfix {
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  border-top: 1px solid rgba(206, 206, 206, 0.555);
  border-bottom: 1px solid rgba(206, 206, 206, 0.555);
}

.scene {
  width: 170px !important;
  height: 280px !important;
  margin: 30px 25px 10px 25px !important;
}

.main .scene {
  margin: 10px 40px 10px 40px !important;
}

.movie {
  width: 170px !important;
  height: 280px !important;
}

.movie .poster,
.movie .info {
  width: 170px !important;
  height: 280px !important;
}

.movie .poster {
  transform: translateZ(83px) !important;
  border-radius: 10px;
  overflow: hidden;
}

.movie .info {
  transform: rotateY(90deg) translateZ(83px) !important;
  cursor: inherit !important;
  border-radius: 10px;

  & .info-text {
    color: #000 !important;
    text-shadow: none !important;
    font-weight: 400;
    font-size: 11px;
  }

  & div {
    text-align: center;
    margin-top: 1rem;

    & button {
      background-color: $komenta-color;
      border-radius: 5px;
      padding: 0.2rem 0.3rem;
      color: white;
    }
  }
}

.csstransforms3d .movie::after {
  width: 165px !important;
  height: 170px !important;
  transform: rotateX(90deg) translateY(80px) !important;
  box-shadow: 0 22px 33px rgba(0, 0, 0, 0.3) !important;
  border-radius: 27px;
}

.noRegister-text {
  position: relative !important;
  top: 50px !important;
}

.btn-cover {
  text-align: right !important;
  font-size: 20px;
  margin-right: 1rem;
}
.btn-cover .page-btn {
  width: 3rem !important;
  height: 2rem !important;
}

.main .btn-cover .page-btn {
  letter-spacing: 0.5px !important;
  color: $komenta-color;
}

.btn-cover .page-count {
  padding: 0 1rem !important;
}

//베스트댓글 유저
.card2 {
  width: 90%;
  margin: 0 auto;
}

.best-comm-form {
  padding: 0;

  & table {
    width: 500px;
  }
}

.commRank-num {
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  margin-right: 0.3rem;
}

.commRank-num.red {
  color: #fc3c44;
}

.commRank-num.nonHighLight {
  font-size: 25px;
  font-weight: 600;
}

.userPic img {
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(206, 206, 206, 0.555);
  background-color: white;
}

//main - now playing
.half-card {
  display: inline-table;
}

.half-card.Now-Playing {
  text-align: center;
}

.nowPlaying {
  display: table;
  width: 300px;
  height: 386px;
  margin: auto auto;
  border: 1px solid rgba(206, 206, 206, 0.555);
  border-radius: 10px;
  background-color: #f6faffd1;

  & .poster-form {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    & .poster {
      position: relative;
      overflow: hidden;
      width: 240px;
      height: 240px;
      border: 1px solid rgba(206, 206, 206, 0.555);
      border-radius: 50%;
      margin: 0 auto;
      transition: all ease 6s;

      & img {
        width: 100%;
        height: 100%;
      }

      & .posterCD {
        position: absolute;
        top: 25%;
        left: 24%;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 10px solid #fff;

        & .posterCD-middle {
          position: absolute;
          top: 10%;
          left: 10%;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid rgba(206, 206, 206, 0.555);
        }
      }

      & h3 {
        font-weight: 700;
      }
    }
  }
}

.nowPlaying.isShow {
  & .poster {
    cursor: pointer;
  }

  & .poster:hover {
    transform: rotate(720deg);
  }
}

.nonNowPlaying-text {
  margin-top: 1rem;
}

//광고 배너
.ad-space {
  margin-bottom: 3rem;
}

//인기 유저 플레이리스트
.playList {
  display: inline-block;
  cursor: pointer;

  &-Form {
    width: 230px;
    height: 300px;
    background-color: white;
    margin: 2rem 2rem;
    box-shadow: 5px 5px 10px rgb(168, 168, 168);

    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.1);
    }
  }

  .userPic {
    position: relative;
    bottom: 10px;
    right: 15px;
    text-align: right;
  }

  .reprePoster {
    position: relative;
    top: 10px;
    left: 10px;
  }

  .likeInfo {
    position: relative;
    top: 15px;
  }
}
