//main - 광고 배너
.bannerAd-Form {
  position: relative;
  text-align: center;
  & .banner::before {
    position: absolute;
    display: inline-block;
    bottom: 0;
    content: '';
    width: 55%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 80%,
        rgba(255, 255, 255, 0.2) 85%,
        rgba(255, 255, 255, 0.45) 90%,
        rgba(255, 255, 255, 0.85) 95%,
        rgba(255, 255, 255, 1) 99%
      ),
      linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 80%,
        rgba(255, 255, 255, 0.2) 85%,
        rgba(255, 255, 255, 0.45) 90%,
        rgba(255, 255, 255, 0.85) 95%,
        rgba(255, 255, 255, 1) 99%
      );
  }
  & .banner::after {
    width: 100%;
    content: '';
  }

  & img::before {
    position: absolute;
    clip: rect(0px 100px 450px 0px);
    // width: 100%;
    // height: max-content;
  }
}

.ad-space {
  width: 100%;
  height: 450px;
}
