$hr-color: #a3a3a3;
$text-color: #495057;
$bg-color: #fff;
$form-border-color: #ced4da;
$komenta-color: #fa243c;
$test-color: #eb2239;

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Inter-Thin-BETA.woff2) format('woff2'),
    url(../fonts/Inter-Thin-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Inter-ThinItalic-BETA.woff2) format('woff2'),
    url(../fonts/Inter-ThinItalic-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Inter-ExtraLight-BETA.woff2) format('woff2'),
    url(../fonts/Inter-ExtraLight-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Inter-ExtraLightItalic-BETA.woff2) format('woff2'),
    url(../fonts/Inter-ExtraLightItalic-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Inter-Light-BETA.woff2) format('woff2'),
    url(../fonts/Inter-Light-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Inter-LightItalic-BETA.woff2) format('woff2'),
    url(../fonts/Inter-LightItalic-BETA.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format('woff2'),
    url(../fonts/Inter-Regular.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Italic.woff2) format('woff2'),
    url(../fonts/Inter-Italic.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Inter-Medium.woff2) format('woff2'),
    url(../fonts/Inter-Medium.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Inter-MediumItalic.woff2) format('woff2'),
    url(../fonts/Inter-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Inter-SemiBold.woff2) format('woff2'),
    url(../fonts/Inter-SemiBold.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Inter-SemiBoldItalic.woff2) format('woff2'),
    url(../fonts/Inter-SemiBoldItalic.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format('woff2'),
    url(../fonts/Inter-Bold.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter-BoldItalic.woff2) format('woff2'),
    url(../fonts/Inter-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBold.woff2) format('woff2'),
    url(../fonts/Inter-ExtraBold.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBoldItalic.woff2) format('woff2'),
    url(../fonts/Inter-ExtraBoldItalic.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-Black.woff2) format('woff2'),
    url(../fonts/Inter-Black.woff) format('woff');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-BlackItalic.woff2) format('woff2'),
    url(../fonts/Inter-BlackItalic.woff) format('woff');
}

*,
::after,
::before {
  box-sizing: border-box;
}

.alert-danger {
  color: $bg-color !important;
  background-color: #8b1221 !important;
  border-color: #81101d !important;
}

.alert {
  border-radius: 0;
}

.alert-message {
  text-align: center;
}

.alert-dismissible .close {
  top: -3px;
  color: $bg-color;
}

.authentic {
  display: inline !important;
  width: 10rem !important;
}

// .authentic-form {
//   position: relative;
//   left: 4.7rem;
// }

.authentic-text {
  font-size: 13px;

  & b:hover {
    color: $komenta-color;
    cursor: pointer;
  }
}

.close {
  opacity: 1;

  &:focus,
  &:hover {
    color: #ffffff;
  }
}

.block {
  display: block !important;
}

.bcol-login {
  max-width: 50% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;

  & .input-group {
    width: 64% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

//버튼 공통 설정
button {
  border-radius: 0;

  &,
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: button;
  }

  &:not(:disabled),
  &[type='button']:not(:disabled),
  &[type='reset']:not(:disabled),
  &[type='submit']:not(:disabled) {
    cursor: pointer;
  }

  &::-moz-focus-inner,
  &[type='button']::-moz-focus-inner,
  &[type='reset']::-moz-focus-inner,
  &[type='submit']::-moz-focus-inner {
    padding: 0;
    borter-style: none;
  }

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  border: 1px solid transparent;
  margin: 1rem 0.25rem;
  padding: 0.25rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 125, 221, 0.25);
  }
  &:disabled {
    opacity: 0.65;
  }
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transform: none;
  }
}

.btn-normal {
  color: $bg-color;
  background-color: $komenta-color;
  border-color: $komenta-color;
  padding: 0.35rem;

  &:focus,
  &:hover {
    color: #fff;
    background-color: #cc1c30;
    border-color: #cc283b;
    // box-shadow: 0 0 0 0.2rem rgba(248, 123, 136, 0.671);
  }

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(202, 62, 76, 0.5);
  }

  &:disabled {
    color: #fff;
    background-color: $komenta-color;
    border-color: $komenta-color;
    box-shadow: none;
    cursor: default;
  }

  &:not(:disabled):active {
    color: #fff;
    background-color: #cc283b;
    border-color: #cf2337;
  }

  &:not(:disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 123, 136, 0.671);
  }
}

.btn-large {
  padding: 0.55rem 8.7rem;
  font-size: 1.075rem;
}

.btn-middle {
  padding: 0.5rem 5.7rem;
  font-size: 0.925rem;
}

.btn-small {
  padding: 0.45rem 3.2rem;
  font-size: 0.875rem;
}

.btn-authentic {
  position: relative;
  bottom: 2px;
}

.ftw-icon {
  margin-left: 0.7rem;

  &.check-icon {
    color: #00da41;
    font-size: 24px;
  }
  &.times-icon {
    color: #d30c0c;
    font-size: 27px;
  }
}

.container-setting {
  text-align: center;
}

.col-setting {
  text-align: initial !important;
  margin: auto;

  & > .center {
    text-align: center;
  }

  &.col-center {
    text-align: center !important;
  }
}

//공통 form design
.form-control {
  display: block;
  width: 70%;
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.7rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $bg-color;
  background-clip: padding-box;
  border: 1px solid $form-border-color;
  border-radius: 0.2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-outc;
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
  padding-right: 0;
  padding-left: 0;
}
.form-control-sm {
  height: calc(1.425rem + 2px);
  padding: 0.15rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.1rem;
}
.form-control-lg {
  height: calc(2.0875rem + 2px);
  padding: 0.35rem 1rem;
  font-size: 0.925rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.find {
  display: inline;
  width: 15rem;
}

.fw-icon {
  font-size: 1.65rem;
  margin-left: 0.56rem;

  &.fwCheck {
    color: #02cf40;
  }

  &.fwTimes {
    color: rgb(211, 12, 12);
  }
}

.fw-checkbox {
  & input {
    display: none;
  }
  & .chk-label {
    font-size: 1.5rem;
    color: #495057;
    margin-right: 0.33rem;
    position: relative;
    top: 0.1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}
.h1,
h1 {
  font-size: 1.75rem;
}
.h2,
h2 {
  font-size: 1.53125rem;
}
.h3,
h3 {
  font-size: 1.3125rem;
}
.h4,
h4 {
  font-size: 1.09375rem;
}
.h5,
.h6,
h5,
h6 {
  font-size: 0.875rem;
}

//hr 공통 설정
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

//hr 그라데이션
.hrDesign.gradation {
  background: $hr-color;
  background-image: -webkit-linear-gradient(to left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(to left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(to left, #eee, #777, #eee);
  background-image: -o-linear-gradient(to left, #eee, #777, #eee);
  background-image: linear-gradient(to left, #eee, #777, #eee);
}

.icon-inline-block {
  display: inline-block;
}

.idView {
  font-weight: 700;
  color: $komenta-color;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type='date'],
  &[type='datetime-local'],
  &[type='month'],
  &[type='time'] {
    -webkit-appearance: listbox;
  }
}

.input-group {
  width: 70%;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  display: inline-flex;
  &:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0;
  }
}

.input-group-append,
.input-group-prepend {
  display: flex;
}
.input-group-append .btn,
.input-group-prepend .btn {
  position: relative;
  z-index: 2;
}
.input-group-append .btn:focus,
.input-group-prepend .btn:focus {
  z-index: 3;
}
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .btn,
.input-group-append .input-group-text + .input-group-text,
.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-prepend .input-group-text + .input-group-text {
  margin-left: -1px;
}
.input-group-prepend {
  margin-right: -1px;
}
.input-group-append {
  margin-left: -1px;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.7rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  border-radius: 0.2rem;
}

.input-group-button {
  cursor: pointer;
}

.input-group > input {
  border: none;
  width: 62.54%;

  &:focus {
    box-shadow: none;
  }
}
//또는
.inContent.or {
  margin-top: 2em;
  margin-bottom: 3em;
  width: 30%;
  &:after {
    content: '또는';
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 10px;
    background-color: $bg-color;
    color: $hr-color;
    font-size: 18px;
  }
}

.phoneNum-form {
  margin-top: 2rem;
}

.sns-login-logo {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  & button {
    border: none;
    background-color: #fff;
  }
  // &.kakao {
  //   position: relative;
  //   margin-right: auto;
  //   margin-left: auto;
  //   width: 60px;
  //   height: 60px;
  //   background-color: rgb(255, 235, 59);

  //   & svg {
  //     position: relative;
  //     top: 5px;
  //   }
  // }
}

.sign-setting {
  margin: 3em;

  & h6 a {
    border-radius: 4px;
    background-color: $komenta-color;
    color: $bg-color;
    padding: 1px 2px;
    text-decoration: none;
  }
}

.termView {
  font-size: 13px;
  font-weight: 700;
  margin-left: 0.23rem;
  cursor: pointer;
}

.title-logo {
  margin: 0.21em 0 0.51em 0.25em;
  font-weight: 700;
  font-size: 3rem;
}

.title-text {
  margin-left: 0.3rem;
  margin-bottom: 2.85rem;
  font-weight: 700;
  text-align: left;
}

.warning-form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;

  &.warning-signup {
    width: 70%;
  }

  & .warning-text {
    font-size: 0.85rem;
    font-weight: 500;
    color: #f01c35;
    margin-top: 0.25rem;
  }
}
