//버튼 공통 설정
button {
  border-radius: 0;

  &,
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: button;
  }

  &:not(:disabled),
  &[type='button']:not(:disabled),
  &[type='reset']:not(:disabled),
  &[type='submit']:not(:disabled) {
    cursor: pointer;
  }

  &::-moz-focus-inner,
  &[type='button']::-moz-focus-inner,
  &[type='reset']::-moz-focus-inner,
  &[type='submit']::-moz-focus-inner {
    padding: 0;
    borter-style: none;
  }

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: $bg-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  border: 1px solid transparent;
  margin: 1rem 0.25rem;
  padding: 0.25rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 125, 221, 0.25);
  }
  &:disabled {
    opacity: 0.65;
  }
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transform: none;
  }
}

.btn-normal {
  background-color: $komenta-color;
  border-color: $komenta-color;
  padding: 0.35rem;

  &:focus,
  &:hover {
    color: #fff;
    background-color: #cc1c30;
    border-color: #cc283b;
    // box-shadow: 0 0 0 0.2rem rgba(248, 123, 136, 0.671);
  }

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(202, 62, 76, 0.5);
  }

  &:disabled {
    color: #fff;
    background-color: #88888C;
    border-color: #88888C;
    box-shadow: none;
    cursor: default;
  }

  &:not(:disabled):active {
    color: #fff;
    background-color: #cc283b;
    border-color: #cf2337;
  }

  &:not(:disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 123, 136, 0.671);
  }
}

.btn-authentic {
  position: relative;
  bottom: 2px;
}

.btn-large {
  padding: 0.55rem 8.7rem;
  font-size: 1.075rem;
}

.btn-middle {
  padding: 0.5rem 4.5rem;
  font-size: 0.925rem;

  &.newPWBtn-move {
    position: relative;
    left: 0.65rem;
  }
}

.btn-small {
  padding: 0.45rem 3.2rem;
  font-size: 0.875rem;
}
