.comment__scroll::-webkit-scrollbar {
  width: 15px;
  height: 18px;
}

.comment__scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.comment__scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}
.comment__scroll::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 100px;
  background-color: rgb(194, 190, 190);
}
.comment__scroll {
  overflow: auto;
  white-space: pre-line;
  width: 100%;
  // height: 400px;
  height: 80%;
}
#appBody {
  width: 100%;
}

#comment_div {
  display: inline-block;
  background-color: #eee;
  // box-sizing: border-box;
  width: 100%;
  height: 500px;
}
.video {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  &__height {
    height: 500px;
    width: auto;
  }
}
.video__comment {
  padding-left: 5%;
  margin-bottom: 0;
  display: inline-block;
  // display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  background-color: white;
}
.video__comment__box {
  margin-top: 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.video__comment__profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video__comment__inner {
  padding-left: 5%;
  width: 85%;
  display: inline-block;
}
.video__comment__inner__nickname {
  color: #c0c0c0;
  font-weight: bold;
}
.comment__time {
  color: darkgray;
  cursor: pointer;
  text-decoration: none;
}
.comment__highlight {
  /* background-color: yellow; */
  color: #fc3c44;
  font-weight: bold;
}
.commet__like {
  color: #fc3c44;
}
.comment__unlike {
  color: gray;
}
.video__comment__input {
  width: 80%;
  background-color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: black 1px solid;
}
.comments__menu {
  color: #fc3c44;
  font-size: large;
}
.comment__text {
}
.comment__nickname {
  color: gray;
  cursor: pointer;
}
.comment__username {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.comment__best {
  background-color: red;
  color: white;
  font-size: small;
  text-align: center;
  width: 3rem;
  display: inline-block;
}
.comment__uploadtime {
  color: grey;
}
.comments__container {
  margin-left: 10px;
}
.comment__rank {
  display: inline-block;
  font-size: 80px;
  color: #fc3c44;
  // background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
}
.comment__commentbox {
  display: inline-block;
  margin-left: 5px;
}
.comment__hidden {
  display: none;
  background-color: yellow;
}
.comment__block {
  font-size: x-small;
  cursor: pointer;
  color: darkgray;
  font-weight: bold;
  margin-left: 5px;
}
.vodepi {
  // display: flex;
  
  margin-left: 1rem;
  &__img {
    display: inline-block;
    // margin-left: 5%;
    margin: auto;
  }
  &__detail {
    width: 70%;
    display: inline-block;
    margin: auto;
    margin-left: 5%;
  }
}
.vodepi__button {
  width: 100%;
  cursor: pointer;
  background-position: right 5px;
  background-repeat: no-repeat;
  background-size: 9px auto;
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  // color: #dedede;
  font-size: 1rem;
  line-height: 0.875rem !important;
  // display: block;
  text-align: center;
  // float: right;
}

.comment__block__content{
  color: #fc3c44;
  font-style: italic;
}
.vod__detail{
  display: flex;
  // width: 100%;
  height: 200px;
  // box-sizing: border-box;
  flex-wrap: wrap;
  grid-auto-flow: column;
  &__column {
    background-color: beige;
    flex: 0 0 20%;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease;
    
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1);
      
      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
  }
}
      
  &__title{
    display: block;
  }
  &__img{
    display: inline-block;
    box-sizing: border-box;

    // justify-content: space-around;
    // align-items: center;
    // margin: 5px;
    // height: 150px;
    // height: 100%;
    cursor: pointer;
    // &:hover {
        //   z-index: 1;
        //   box-shadow: 0 8px 50px rgba(#000, 0.2);
        //   transform: scale(1.02);
        // }
  }
  &__num{
    text-align: center;
    font-size: small;
    font-weight: bold;
  }
}
