.comment__scroll::-webkit-scrollbar {
  width: 15px;
  height: 18px;
}

.comment__scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.comment__scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}
.comment__scroll::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 100px;
  background-color: rgb(194, 190, 190);
}
.comment__scroll {
  overflow: auto;
  white-space: pre-line;
  width: 400px;
  height: 425px;
}
#appBody {
  width: 100%;
}

#comment_div {
  display: inline-block;
  background-color: #eee;
}
.video {
  font-family: Georgia, 'Times New Roman', Times, serif;
  &__height {
    height: 500px;
    width: 860px;
  }
}
.video__comment {
  padding-left: 5%;
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: white;
}
.video__comment__box {
  margin-top: 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.video__comment__profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video__comment__inner {
  padding-left: 5%;
  width: 85%;
  display: inline-block;
}
.video__comment__inner__nickname {
  color: #c0c0c0;
  font-weight: bold;
}
.comment__time {
  color: darkgray;
  cursor: pointer;
  text-decoration: none;
}
.comment__highlight {
  /* background-color: yellow; */
  color: #fc3c44;
  font-weight: bold;
}
.commet__like {
  color: #fc3c44;
}
.comment__unlike {
  color: gray;
}
.video__comment__input {
  width: 80%;
  background-color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: black 1px solid;
}
.comments__menu {
  color: #fc3c44;
  font-size: large;
}
.comment__text {
}
.comment__nickname {
  color: gray;
  cursor: pointer;
}
.comment__username {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.comment__best {
  background-color: red;
  color: white;
  font-size: small;
  text-align: center;
  width: 3rem;
  display: inline-block;
}
.comment__uploadtime {
  color: grey;
}
.comments__container {
  margin-left: 10px;
}
.comment__rank {
  display: inline-block;
  font-size: 80px;
  color: #fc3c44;
  // background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
}
.comment__commentbox {
  display: inline-block;
  margin-left: 5px;
}
.comment__hidden {
  display: none;
  background-color: yellow;
}
.comment__block {
  font-size: x-small;
  cursor: pointer;
  color: darkgray;
  font-weight: bold;
}
.vodepi {
  display: flex;
  margin-left: 10px;
  &__img {
    display: inline-block;
  }
  &__detail {
    width: 80%;
    display: inline-block;
    margin: auto;
  }
}
.vodepi__button {
  cursor: pointer;
  background-position: right 5px;
  background-repeat: no-repeat;
  background-size: 9px auto;
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  // color: #dedede;
  font-size: 1rem;
  line-height: 0.875rem !important;
  // display: block;
  text-align: right;
  // float: right;
}

.comment__block__content{
  color: #fc3c44;
  font-style: italic;
}
.vod__detail{
  display: flex;
  margin-left: 10px;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  &__title{
    display: block;
  }
  &__img{
    display: inline-block;
    margin: 5px;
  }
  &__num{
    text-align: center;
  }
}
