.userprofile {
    background-color: antiquewhite;
    height: 10rem;
    text-align: center;
    vertical-align:middle;



  &__pic {
    font-size: 5rem;

  }

  &__name {
    font-size: 1rem;

  }

  &__button {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    display: inline-block;
    font-size: 16px;
    color: #fff;
    // text-shadow: 0 1px 1px rgb(30 31 68 / 50%);
    padding: 10px 30px;
    border-radius: 50px;
    position: relative;
  }
  


}

