.container {
  
    .userprofile {
        // margin-bottom: 2rem;
        padding: 1rem 3rem 1rem;
        // border-radius: 30px;
        font-size: 2rem;
        color: #fff;
        // border: double 4px transparent;
        // background: linear-gradient(to left, #f00,#3020ff);
        // background: linear-gradient(to right, #009fff, #ec2f4b);
        background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
        // background: linear-gradient(to right, #fc354c, #0abfbc);

        text-align: center;
        font-family: "Lato", sans-serif;
        box-shadow: 0 1px 15px -7.5px #000000;
        position: relative;   
        
      &__picbox {
        overflow: hidden;
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;

        &__content {
          display: inline-block;
          text-align: center;
          width: 100%;
          height: 100%;
        }
      }
    
    
      &__name {
        font-size: 2rem;
    
      }
    
      &__button {
        
        --background: white;
        --text: black;
        --font-size: 16px;
        --duration: .44s;
        --move-hover: -7px;
        --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
        --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
        --font-shadow: var(--font-size);
        padding: 16px 32px;
        font-family: 'Roboto';
        font-weight: 700;
        line-height: var(--font-size);
        border-radius: 24px;
        outline: none;
        text-decoration: none;
        font-size: var(--font-size);
        letter-spacing: .5px;
        background: var(--background);
        color: var(--text);
        box-shadow: var(--shadow);
        transform: translateY(var(--y));
        transition: transform var(--duration) ease, box-shadow var(--duration) ease;
        &:hover {
            --y: var(--move-hover);
            --shadow: var(--shadow-hover);
          }
        }
      }

      &__recentSection {
          display: flex;
          justify-content: space-between;
        
        &__createPlaylistButton {
          margin-top: 1rem;
          margin-bottom: 1rem;
          width: 25%;
          padding: 5px 2px;
          border-radius: 24px;
          background-color:	#D3D3D3;
        }

        &__createPlaylistTitle {
          font-size: 1rem;
          margin: 0;
          background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &__recentList {

          margin-bottom: 6px;
          margin-top: 2rem;
          -webkit-margin-end: 25px;
          margin-inline-end: 25px;
          font-family: auto;
          color: black;
          font-weight: 650;


        }

      }
    }

.drop-zone {
  margin-top: 10px;
  height: 180px;
  // border-radius: 20px;
  box-shadow: 0 1px 15px -7.5px #000000;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #feac5e, #c779d0, #4bc0c8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 35px;
  white-space:nowrap; 
  overflow-x: auto;
  overflow-y: hidden;

   &::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }

   &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 100px;
    background-color:rgb(194, 190, 190);
  }



  &__inner {
    width: 98%;
    height: 90%;
    margin-top: 8px;
    display: inline-block;
        margin: 10px;
    padding: 1rem;


  }

}

.drag-el {
    margin:5px;
    display: inline-block;
    width: 80px;
    height: 100%;
}

.modal-input {
  width: 100%;
  height: 50px;
  // border: 1px solid #ced4da;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0.2rem;
  display: inline-flex;
  margin-bottom: 1rem;
}
.modal-textarea{
   width: 100%;
   height: 100px;
  // border: 1px solid #ced4da;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0.2rem;
  display: inline-flex;
}
.modal_button {
      margin-left: 35%;
    margin-top: 3%;
}
.modal_close_btn {
  position: absolute;
  top:0;
  right:0
}
.modal_title{
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;      
}
.modal__playlist{
  margin-top: 35px;
}