.container {
  
    .userprofile {
        // margin-bottom: 2rem;
        padding: 1rem 2rem 1rem;
        // border-radius: 30px;
        font-size: 2rem;
        color: #fff;
        // border: double 4px transparent;
        // background: linear-gradient(to left, #f00,#3020ff);
          // background: linear-gradient(to right, #009fff, #ec2f4b);
            background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
            // background: linear-gradient(to right, #fc354c, #0abfbc);

        text-align: center;
        font-family: "Lato", sans-serif;
        box-shadow: 0 1px 15px -7.5px #000000;
        /* position relative for the pseudo element(s) */
        position: relative;    
    
      &__pic {
        font-size: 5rem;
    
      }
    
      &__name {
        font-size: 1rem;
    
      }
    
      &__button {
        background: linear-gradient(to right, #cb2d3e, #ef473a);
        display: inline-block;
        font-size: 16px;
        color: #fff;
        // text-shadow: 0 1px 1px rgb(30 31 68 / 50%);
        padding: 10px 30px;
        border-radius: 50px;
        position: relative;
      }
      
    }
}

.drop-zone {
  // background: linear-gradient(to right, #eb3349, #f45c43); 
  height: 180px;
  border-radius: 20px;
  box-shadow: 0 1px 15px -7.5px #000000;
  // border: 10px solid;
  // border-image-source: linear-gradient(45deg, #ff416c, #ff4b2b);
  // border-image-slice: 1;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #feac5e, #c779d0, #4bc0c8);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &__inner {
    width: 98%;
    height: 90%;
    // background-color: #F9F9F9;
    margin-top: 8px;
    display: inline-block;
        margin: 10px;
    padding: 1rem;
    // border: 5px dashed orange;
    // border-radius: 5px;
    // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    // border: 10px dashed;
    // border-image-source: linear-gradient(45deg, #de6262, #ffb88c);
    // border-image-slice: 30%;
    // border-radius: 20px;


  }

}


.drag-el {
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
    margin:5px;
    display: inline-block;
    width: 80px;
    height: 100%;
      /* border: 1px solid blue; */
}

