$prefix: at;
$totalColumns: 9;

.basic-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;

    &:hover {
      background-color: #adb5bd;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
}

.container {
  // display: flex;
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
  
 

  &__friend {
    

  }

  &__influences {

  }
}

// Custom Prefix
.#{$prefix} {
  
  // Section
  &-section {
    margin-top: 2rem;
    &__title {
      margin: 0 0 40px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 3rem;
      font-weight: 300;
      line-height: 2.625rem;
      // text-align: center;
    }

    &__subtitle {
      margin-bottom: 25px;
      font-size: 1rem;
    }

    &__nickname {
      background: linear-gradient(to right, #fbcac9, #8ca6ce);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
  
  &-grid {
      
      width: 1000px;
      display: flex;
      // flex-wrap: wrap;
      // overflow-x: scroll;
      // overflow-y:hidden;
      //     grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;


  }
  
  &-column {
    background-color: beige;
      // background: linear-gradient(to right, #de6262, #ffb88c);
    flex: 0 0 33.3333%;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease;
    
    &:before {
       background: linear-gradient(to right, #de6262, #ffb88c);
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.05);
      
      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
    }
    
    @media (max-width: 800px) {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      flex-basis: 50% !important;
    }

    @media (max-width: 600px) {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      flex-basis: 100% !important;
    }
  }
  
  &-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    
    &__avatar {
      height: 98px;
      border-radius: 100%;
      margin: 0 auto 20px;
      overflow: hidden;
      
      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
    
    &__name {
      color: #313435;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.625rem;
    }
    
    &__title {
      color: #6F808A;
      font-family: 'Roboto', sans-serif;
      font-size: 0.875rem;
      line-height: 2.375rem;
    }
  }
  

// Demo Purpose
body {
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  // max-width: 1200px;
  // width: 100%;
  // margin: 100px asuto;
  // padding: 0;
  // box-sizing: border-box;
  transform-origin: 50px 50px;
  transform: scale(0.8);
  left: 0;
}
}
