$prefix: at;
$totalColumns: 9;

.container {
  display: flex;
  // max-width: 1200px;
  // height: 50rem;
  // width: 100%;
  // margin: 100px asuto;
  // padding: 0;
  // box-sizing: border-box;
  // transform-origin: 50px 50px;
  // transform: scale(0.8);

  &__following {
    width: 100%;


    .container__following__Profle {
      display: flex;

      &__background {
        margin: 10px 10px;
        box-shadow: 0 1px 15px -7.5px #000000;
        border: double 2px transparent;
        border-radius: 50%;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #feac5e, #c779d0, #4bc0c8);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 35px;
        white-space:nowrap;
        overflow: hidden;
      }

      &__img {
        border-radius: 50%;
      }

    }
  }
  // left: 0;
}

// Custom Prefix
.#{$prefix} {
  
  // Section
  &-section {
    margin-top: 4rem;
    &__title {
      margin: 0 0 40px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.625rem;
      // text-align: center;
    }

    &__subtitle {
      display: inline-block;
      background: #f2f2f7;
      color: #696969;
      margin-bottom: 25px;
      font-size: 1.2rem;
      font-weight: 300;
      border-radius: 20px;
      border-width: 22rem;
    }

    &__nickname {
      background: linear-gradient(to right, #fbcac9, #8ca6ce);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
  
  &-grid {
      
      width: 1000px;
      display: flex;
      // flex-wrap: wrap;
      overflow-x: scroll;
      overflow-y:hidden;
      grid-auto-flow: column;
      overflow-x: auto;
      overflow-y: hidden;


  }
  
  &-column {
    background-color: beige;
      // background: linear-gradient(to right, #de6262, #ffb88c);
    flex: 0 0 20%;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease;
    
    &:before {
      //  background: linear-gradient(to right, #de6262, #ffb88c);
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1);
      
      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
    }

  }
  
  &-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    
    &__avatar {
      height: 98px;
      border-radius: 100%;
      margin: 0 auto 20px;
      overflow: hidden;
      
      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
    
    &__name {
      color: #313435;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.625rem;
    }
    
    &__title {
      color: #6F808A;
      font-family: 'Roboto', sans-serif;
      font-size: 0.875rem;
      line-height: 2.375rem;
    }
  }
  

// Demo Purpose
// body {
//   background: #FFF;
//   font-family: 'Roboto', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

}

.basic-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;

    &:hover {
      background-color: #adb5bd;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
}