$prefix: at;
$totalColumns: 7;

.container {
  display: flex;
  // max-width: 1200px;
  // height: 50rem;
  // width: 100%;
  // margin: 100px asuto;
  // padding: 0;
  // box-sizing: border-box;
  // transform-origin: 50px 50px;
  // transform: scale(0.8);

  &__following {
    width: 1000px;


    .container__following__Profle {
      display: flex;

      &__background {
        
        margin: 10px 10px;
        box-shadow: 0 1px 15px -7.5px #000000;
        border: double 2px transparent;
        border-radius: 50%;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #feac5e, #c779d0, #4bc0c8);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 10px;
        white-space:nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          z-index: 1;
          box-shadow: 0 8px 50px rgba(#000, 0.2);
          transform: scale(1.1);
        }
      }

      &__img {
        border-radius: 50%;
      }

      &__NEW {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 700;
        color: $apple-color;
        
      }



    }
  }
  // left: 0;
}

// Custom Prefix
.#{$prefix} {
  
  // Section
  &-section {
    margin-top: 4rem;
    &__title {
      margin: 0 0 30px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.625rem;
      // text-align: center;
    }

    &__subtitleButton {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 3rem;
        // width: 70%;
        padding: 5px 2px;
        border-radius: 24px;
        // background-color: #D3D3D3;

    }

    &__subtitle {
        text-align: center;
          font-size: 1.2rem;
          font-weight: 600;
          margin: 0;
          // color: black;
          background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    &__icon {
      color: lightsalmon;
      width: 1rem;
      height: 1.5rem;


    }

    &__nickname {
      background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
  
  &-grid {
      
      width: 2500px;
      display: flex;
      flex-wrap: wrap;
      grid-auto-flow: column;



  }
  
  &-column {
    background-color: beige;
    flex: 0 0 20%;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease;
    
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1);
      
      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
    }

  }
  
  &-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    
    &__name {
      color: #313435;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 2.625rem;
      margin-bottom: 1rem;
    }
    
    &__profile {
      border-radius: 50%;
      overflow: hidden;

      &__img {
        border-radius: 50%;
      }
    }
  }
  

// Demo Purpose
// body {
//   background: #FFF;
//   font-family: 'Roboto', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

}

.playlist {
    width: 1200px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: -1rem;


  .playlist__box {
    width: 306px;
    height: 316px;
    background-color: transparent;
    border: 3.8px solid #F5F5F5	;
    display: inline-block;
    // border-radius: 1rem;
    margin: 1rem;

    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.1);
    }
  
    &__img {
      width: 100%;
      height: 180px;
      // border-radius: 1rem;
    }
  
    &__info {
      // border: 2px solid #C8C8C8;
      // background-color: #F5F5F5;
      height: 6rem;
      /* text-align: center; */
      margin: 20px 10px;
  
      &__plname {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
  
      &__nickname {
        margin-bottom: 3%;
        background-color: #fa233b;
        // width: 45%;
        padding: 3px 1px;
        border-radius: 0.5rem;
        color: white;
  
      }
  
      &__comment {
  
      }
  
    }
  }

}

.basic-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;

    &:hover {
      background-color: #adb5bd;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
}


.btn-cover_people {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: right !important;
  font-size: 20px;
  margin-right: 1rem;
  right: 2rem;

  .page-btn_people {
    margin-top: 3rem;
    width: 3rem !important;
    height: 2rem !important;
    color: #787878;
  }
}

.playlist_user_profile {
  margin-left: 0.3rem;
  position: relative;
  bottom: 10px;
  right: 10px;
  text-align: right;
  & img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgba(206, 206, 206, 0.555);
    background-color: white;
  }
}
.pl__name{
  text-decoration: underline;
}