.rPlayList-Form {
  & img,
  & div {
    display: inline-block;
  }

  // & .vodPoster {
  //   width: 150px;
  //   height: 190px;
  //   margin: 2rem;
  // }

  // & .vodPoster:hover {
  //   background-color: rgba(0, 0, 0, 0.425);
  //   z-index: 10;
  // }

  // & img {
  //   border-radius: 15px;
  //   box-shadow: 3px 3px 3px rgba(168, 168, 168, 0.589);
  //   width: 100%;
  //   height: 100%;
  //   cursor: pointer;
  // }

  // & img:hover {
  //   z-index: 1;
  // }
}

.btn-cover.displayInlineBlock {
  display: inline-block;
}

.popular-play-list {
  margin: 3rem 0;

  & .list-title {
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #495057;
    // cursor: pointer;
  }

  & .byUser {
    font-size: 15px;
    background-color: $komenta-color;
    color: white;
    padding: 0.3rem;
    border-radius: 7px;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  & .drop-zone {
    width: 95%;
    margin: 0 auto;
  }
}

.pl-comment {
  margin-left: 2rem;
  // margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: black;

  & b {
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.drag-el {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(168, 168, 168, 0.589);
  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }

  & .vodInfo {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    color: white;

    & .vod-info-form {
      // display: inline;
      // vertical-align: middle;
      text-align: center;
      padding: 0.2rem;
    }

    & p {
      position: relative;
      margin-bottom: 0.3rem;
    }

    & .vod-info-title {
      font-size: 19px;
      margin-top: 2rem;
    }

    & .vod-info-genre {
      font-size: 14px;
    }

    & .vod-info-btn {
      margin-top: 1rem;
      border: 1px solid $komenta-color;
      border-radius: 5px;
      padding: 0.3rem 0.6rem;
      background-color: $komenta-color;
    }
  }
}

.addRecomm {
  margin-top: 2.5rem;
  font-size: 25px;
}

.drag-el:hover {
  & .vodInfo {
    background-color: #000000a8;
    display: block;
  }
}

.playlist {
  width: 1200px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -1rem;

  .playlist__box {
    width: 306px;
    height: 316px;
    background-color: transparent;
    border: 3.8px solid #c8c8c8;
    display: inline-block;
    // border-radius: 1rem;
    margin: 1rem;

    &__img {
      width: 100%;
      height: 180px;
      // border-radius: 1rem;
    }

    &__info {
      // border: 2px solid #C8C8C8;
      // background-color: #F5F5F5;
      height: 6rem;
      /* text-align: center; */
      margin: 20px 10px;

      &__plname {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      &__nickname {
        margin-bottom: 3%;
        background-color: #fa233b;
        // width: 45%;
        padding: 3px 1px;
        border-radius: 0.5rem;
        color: white;
      }

      &__comment {
      }
    }
  }
}

.playlist__star {
  color: #fa233b;
}

.playlsit-icon {
  margin-left: 0.6rem;
  cursor: pointer;
  &-size {
    font-size: 1.5rem;
  }
}

.playlist-display{
  display: inline-block;
}