.title-logo {
  padding: 1rem 1rem 0.5rem 1rem;
  /* margin: 1rem 1rem 0.5rem 1rem; */
  font-weight: 640;
  font-size: 3rem;
}

.title-text {
  margin-left: 0.3rem;
  margin-bottom: 2.85rem;
  font-weight: 700;
  text-align: left;
}
