.sns-login-logo {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  & button {
    border: none;
    background-color: #fff;
  }
}

.sign-setting {
  height: 8rem;
  margin: 2rem;

  &-findIdPw {
    font-size: 0.92rem;
    margin-bottom: 1rem;
    padding: 1px 2px;
    color: black;
  }

  & h6 a {
    border-radius: 4px;
    background-color: $komenta-color;
    color: $bg-color !important;
    padding: 1px 2px;
    text-decoration: none;
    cursor: pointer;
  }
}

.termView {
  font-size: 13px;
  font-weight: 700;
  margin-left: 0.23rem;
  cursor: pointer;
}

.bcol-login {
  max-width: 50% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;

  & .input-group {
    width: 64% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

.idView {
  font-weight: 700;
  color: $komenta-color;
}

// .modal-container {
//   color: black;
// }

.modal-header {
  position: relative;

  display: block;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);

  // .modal-header h3 {
  //   /* margin-top: 0; */
  //   color: blanchedalmond;
  //   text-align: center;
  // }

  & h3 {
    margin: 0;
  }

  .findIdPw__title {
    color: black;
    font-size: 1.5rem;
  }

  #closeModalBtn {
    cursor: pointer;
    position: absolute;
    color: black;
    top: 0.3rem;
    right: 0;
  }

  a {
    color: black;
  }

  .findIdPw__contents {
    // color: black;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;

    & div {
      width: 100%;
      padding-bottom: 1rem;

      &:focus-within {
        // background-color: $komenta-color;
        border-bottom: 7px solid $komenta-color;
        font-weight: 700;
      }
    }

    & a {
      text-decoration: none;
    }
  }
}

.showID {
  padding: 3rem;
}

.table-border-style {
  width: 100%;
  border-collapse: collapse;

  & th {
    font-size: 1.2rem;
  }
  & tr {
    height: 2rem;
    text-align: center;
    border-bottom: 1px solid #505050;
  }
  & tr:first-of-type {
    border-top: 2px solid #404040;
  }
  & tr td {
    padding: 0.6rem 0;
    font-size: 1.1rem;

    & p {
      margin: 0;
    }
  }
}

.btn-label {
  border-radius: 20px;
  color: white;
  font-size: 14px;
  width: 80px;
  margin: 0 auto;
}

.btn-label.관리자 {
  background-color: rgb(88, 88, 88);
  cursor: default;
}

.btn-label.일반회원 {
  background-color: rgb(22, 185, 22);
  cursor: pointer;
}

.btn-label.제한회원 {
  background-color: rgb(204, 33, 33);
  cursor: pointer;
}

//팔로우 관리
.follow-setting {
  & .inline-block {
    display: inline-block;
  }

  & .follow-card {
    height: 100px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  & .follow-card::-webkit-scrollbar {
    display: none;
  }

  & .followForm {
    width: 50%;
  }
}

//멤버십 관리
.membership-state {
  width: 75px;
  color: white;
  background-color: rgb(192, 0, 0);
  margin: 0 auto !important;
  padding: 0.1rem 0;
  font-size: 13px;
  border-radius: 20px;
  cursor: pointer;
}

.goJoinMember {
  cursor: pointer;
  color: $komenta-color;
  font-size: 0.9rem;
  font-weight: 600;
}
