.sns-login-logo {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  & button {
    border: none;
    background-color: #fff;
  }
  // &.kakao {
  //   position: relative;
  //   margin-right: auto;
  //   margin-left: auto;
  //   width: 60px;
  //   height: 60px;
  //   background-color: rgb(255, 235, 59);

  //   & svg {
  //     position: relative;
  //     top: 5px;
  //   }
  // }
}


.sign-setting {
  height: 8rem;
  margin: 2rem;

  &-findIdPw{
    font-size: 0.92rem;
    margin-bottom: 1rem;
    padding: 1px 2px;
    color: black;
  }

  & h6 a {
    border-radius: 4px;
    background-color: $komenta-color;
    color: $bg-color;
    padding: 1px 2px;
    text-decoration: none;
  }
}

.termView {
  font-size: 13px;
  font-weight: 700;
  margin-left: 0.23rem;
  cursor: pointer;
}


.bcol-login {
  max-width: 50% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;

  & .input-group {
    width: 64% !important;
    margin-right: auto;
    margin-left: auto;
  }
}


.idView {
  font-weight: 700;
  color: $komenta-color;
}


.modal-header{
  
  display: block;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  
  .findIdPw__title {
    color: black;
    font-size: 1.5rem;
  }

  a {
   color: #000; 
  }
  .findIdPw__contents {
    // color: black;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;

  .findIdPw__content:hover {
    // background-color: pink;
    font-size: 1rem;
    font-weight: 150;
    text-decoration: none;
    color:white;
    background-color: $komenta-color;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid $komenta-color;
    -webkit-transition: all .5s;
    transition: all .5s;

  }
  
  
  }
  
}
