// Color
$hr-color: #a3a3a3;
$text-color: #495057;
$bg-color: #ffffff;
$form-border-color: #ced4da;
$komenta-color: #fc3c44;
$test-color: #eb2239;
$apple-color: #fa233b;

//applemusic
$sidebar: rgba(60, 60, 67, 0.03);
$sidebarBorderRule: rgba(0, 0, 0, 0.1);
$sidebarSelectedState: rgba(60, 60, 67, 0.1);
$primaryColor: #fa233b;
$labelPrimary: rgba(0, 0, 0, 0.95);

// Light Color Palettes
$base-color: #000;
$base-color1: rgba(0, 0, 0, 0.95);
$base-color2: rgba(0, 0, 0, 0.7);
$base-color3: rgba(0, 0, 0, 0.4);
$base-color4: #e5e5e5;
$base-color5: rgba(0, 0, 0, 0.05);
$base-color6: rgba(0, 0, 0, 0.02);

// Accent color
$accent-color1: #007aff; //Primary Blue /
$accent-color2: #8e8e93; //Gray /
$accent-color3: #5ac8fa; //Light Blue /
$accent-color4: #34c759; //Green /
$accent-color5: #ff3b30; //Red /
$accent-color6: #ff9500; //Orange /
$accent-color7: #5856d6; //Indigo
$accent-color8: #af52de; //Purple

$web-navigation-width: 220px;
