.right-sort {
  text-align: right;
}

.block {
  display: block !important;
}

.margin__left{
  margin-left: 10%;
}

.margin__top{
  margin-top: 50vh;
}
.margin__left__five{
  margin-left: 5%;
}
.margin_right {
  margin-right: 5px;
}