<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komenta.be.mapper.AdminMapper">

    <select id="selectAllMember" resultType="com.komenta.be.model.member.MemberDTO">
        SELECT u_id, u_email, u_pw, u_phone_number, u_nickname, u_expire_member, u_is_admin, u_profile_pic
        FROM MEMBER
    </select>

    <update id="updateMember" parameterType="com.komenta.be.model.member.MemberDTO">
        update MEMBER
        set u_pw = #{u_pw},
            u_phone_number = #{u_phone_number},
            u_nickname = #{u_nickname},
            u_profile_pic = #{u_profile_pic}
        where u_id = #{u_id}
    </update>

    <delete id="deleteMember" parameterType="String">
        delete
        from MEMBER
        where u_email = #{u_email}
    </delete>

    <insert id="uploadVod" parameterType="com.komenta.be.model.vod.VodDTO">

    </insert>

    <select id="selectAllVod" resultType="com.komenta.be.model.vod.VodDTO">

    </select>

    <update id="updateVod" parameterType="com.komenta.be.model.vod.VodDTO">

    </update>

    <delete id="deleteVod" parameterType="int">

    </delete>
</mapper>
