<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komenta.be.mapper.CommentMapper">

    <insert id = "insertComment" parameterType="com.komenta.be.model.comment.CommentInfoDTO">
        insert into comment_info(c_contents, c_playtime, u_id, ve_id)
        values (#{c_contents}, #{c_playtime}, #{u_id}, #{ve_id});
    </insert>

    <select id = "getVodEpisodeComment" parameterType="int" resultType="com.komenta.be.model.comment.VodEpisodeCommentDTO">
        select C.c_id, C.c_contents, C.c_playtime, C.c_upload_time, C.u_id, C.u_nickname, D.comment_good_count
        FROM (SELECT A.c_id, A.c_contents, A.c_playtime, A.c_upload_time, A.u_id, B.u_nickname
              FROM (select c_id, c_contents, c_playtime, c_upload_time, u_id
                    from comment_info
                    where ve_id = 1) A
                       left outer join member B
                                       on A.u_id = B.u_id) C
                 left outer join
             (select c_id, count(*) as comment_good_count
              from comment_good
              group by c_id) D
             on C.c_id = D.c_id;
    </select>
</mapper>
