<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komenta.be.mapper.FollowMapper">

    <select id = "getFollowingList" parameterType="int" resultType="com.komenta.be.model.follow.FollowSelectDTO">
        SELECT A.f_id, B.u_nickname, B.u_profile_pic
        FROM (SELECT f_id, u_id
              FROM follow
              WHERE u_id = #{u_id}) A LEFT OUTER JOIN member B
        ON A.f_id = B.u_id
    </select>

    <select id = "getUnFollowingList" parameterType="int" resultType="com.komenta.be.model.follow.FollowSelectDTO">
        SELECT A.uf_id, B.u_nickname, B.u_profile_pic
        FROM (SELECT uf_id, u_id
              FROM un_follow
              WHERE u_id = #{u_id}) A LEFT OUTER JOIN member B
        ON A.uf_id = B.u_id
    </select>

    <select id="getFollowerList" parameterType="int" resultType="com.komenta.be.model.follow.FollowSelectDTO">
        SELECT B.u_id as f_id, B.u_nickname, B.u_profile_pic
        FROM (SELECT f_id, u_id
              FROM follow
              WHERE f_id = #{u_id}) A LEFT OUTER JOIN member B
        ON A.u_id = B.u_id
    </select>


    <select id="isFollower" parameterType="com.komenta.be.model.follow.FollowDTO" resultType="com.komenta.be.model.follow.FollowDTO">
        SELECT f_id, u_id
        FROM follow
        WHERE u_id = #{u_id}
        AND f_id = #{f_id}
    </select>

    <update id = "followAdd" parameterType="com.komenta.be.model.follow.FollowDTO">
        INSERT INTO follow (f_id, u_id)
        VALUES (#{f_id}, #{u_id})
    </update>

    <update id = "followSub" parameterType="com.komenta.be.model.follow.FollowDTO">
        DELETE
        FROM follow
        WHERE u_id = #{u_id}
        AND f_id = #{f_id}
    </update>


    <select id="isUnFollower" parameterType="com.komenta.be.model.follow.UnFollowDTO" resultType="com.komenta.be.model.follow.UnFollowDTO">
        SELECT uf_id, u_id
        FROM un_follow
        WHERE u_id = #{u_id}
        AND uf_id = #{uf_id}
    </select>

    <update id = "unFollowAdd" parameterType="com.komenta.be.model.follow.UnFollowDTO">
        INSERT INTO un_follow (uf_id, u_id)
        VALUES (#{uf_id}, #{u_id})
    </update>

    <update id = "unFollowSub" parameterType="com.komenta.be.model.follow.UnFollowDTO">
        DELETE
        FROM un_follow
        WHERE u_id = #{u_id}
        AND uf_id = #{uf_id}
    </update>

</mapper>
