<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komenta.be.mapper.MemberMapper">
    <insert id="joinMember" parameterType="com.komenta.be.model.member.MemberDTO">
        insert into member (u_email, u_pw, u_phone_number, u_nickname)
        values (#{u_email}, #{u_pw}, #{u_phone_number}, #{u_nickname})
    </insert>

    <select id="getMyInfo" parameterType="String"
            resultType="com.komenta.be.model.member.MemberDTO">
        SELECT u_id, u_email, u_pw, u_phone_number, u_nickname, u_expire_member, u_is_admin, u_profile_pic, u_is_blocked
        FROM member
        WHERE u_email = #{u_email}
    </select>

    <select id="getInfoUser" parameterType="int"
            resultType="com.komenta.be.model.member.MemberDTO">
        SELECT u_id, u_email, u_pw, u_phone_number, u_nickname, u_expire_member, u_is_admin, u_profile_pic, u_is_blocked
        FROM member
        WHERE u_id = #{u_id}
    </select>

    <select id="findId" parameterType="String" resultType="String">
        select u_email
        from member
        where u_phone_number = #{u_phone_number}
    </select>

    <select id="findPw" parameterType="String" resultType="String">
        select u_email
        from member
        where u_email = #{u_email}
    </select>
    <update id="updatePassword" parameterType="com.komenta.be.model.member.MemberDTO">
        update member
        set u_pw = #{u_pw},
        where u_email like #{u_email}
    </update>
    <update id="updateMember" parameterType="com.komenta.be.model.member.MemberDTO">
        update member
        set u_pw = #{u_pw},
            u_phone_number = #{u_phone_number},
            u_nickname = #{u_nickname},
            u_profile_pic = #{u_profile_pic}
        where u_id = #{u_id}
    </update>

    <delete id="deleteMember" parameterType="Integer">
        delete
        from member
        where u_id = #{u_id}
    </delete>
</mapper>
