<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komenta.be.mapper.VodMapper">

    <select id="selectHistoryById" resultType="com.komenta.be.model.vod.VodHistoryDTO" parameterType="int">
        select vh_id, vh_watching_time, ve_id, vh_score, vh_good
        from vod_history
        where u_id = #{u_id}
        order by vh_last_watched_time desc;
    </select>


    <select id="selectEpisodeById" resultType="com.komenta.be.model.vod.VodEpisodeAllDTO" parameterType="int">
        select C.ve_id, C.ve_episode_num, C.ve_contents,C.ve_upload_date, C.v_id, C.v_title, C.v_summary, C.v_director, C.v_actors, C.v_age_grade, C.v_poster, D.gd_id, D.g_name, D.gd_name
        from
            (select A.ve_id, A.ve_episode_num, A.ve_contents, A.ve_admin, A.ve_upload_date, A.v_id, B.v_title, B.v_summary, B.v_director, B.v_actors, B.v_age_grade, B.v_poster, B.gd_id
             from vod_episode A left outer join vod B
                                                on A.v_id = B.v_id) C
                left outer join
            (select A.gd_id, A.gd_name, A.g_id, B.g_name
             from genre_detail A left outer join genre B
                                                 on A.g_id = B.g_id) D
            on C.gd_id = D.gd_id
        where C.ve_id = #{ve_id}
    </select>

    <select id = "getVodListRecent" resultType="com.komenta.be.model.vod.VodEpisodeDTO">
        SELECT E.ve_id, E.ve_episode_num, E.ve_upload_date, E.ve_contents, E.ve_admin, F.v_id, F.v_title, F.gd_id, F.g_name, F.gd_name
        FROM vod_episode E LEFT OUTER JOIN (SELECT C.v_id, C.v_title, C.v_summary, C.v_director, C.v_actors, C.v_age_grade, C.v_poster, D.gd_id, D.g_name, D.gd_name
                                            from vod C LEFT OUTER JOIN (SELECT A.gd_id, B.g_id, B.g_name, A.gd_name
                                                                        FROM genre_detail A INNER JOIN genre B
                                                                        ON A.g_id = B.g_id) D
                                            ON C.gd_id = D.gd_id) F
        ON E.v_id = F.v_id
        ORDER BY ve_upload_date desc
    </select>



    <select id = "getVodListComment" resultType="com.komenta.be.model.vod.VodEpisodeDTO">
        SELECT X.ve_id, X.ve_episode_num, X.ve_upload_date, X.ve_contents, X.ve_admin, X.v_id, X.v_title, X.gd_id, X.g_name, X.gd_name, (case when Y.c_count IS NULL then 0 ELSE Y.c_count END) AS c_count
        FROM (SELECT E.ve_id, E.ve_episode_num, E.ve_upload_date, E.ve_contents, E.ve_admin, F.v_id, F.v_title, F.gd_id, F.g_name, F.gd_name
              FROM vod_episode E LEFT OUTER JOIN (SELECT C.v_id, C.v_title, C.v_summary, C.v_director, C.v_actors, C.v_age_grade, C.v_poster, D.gd_id, D.g_name, D.gd_name
                                                  from vod C LEFT OUTER JOIN (SELECT A.gd_id, B.g_id, B.g_name, A.gd_name
                                                                              FROM genre_detail A INNER JOIN genre B
                                                                              ON A.g_id = B.g_id) D
                                                  ON C.gd_id = D.gd_id) F
              ON E.v_id = F.v_id) X LEFT OUTER JOIN (SELECT ve_id, COUNT(*) AS c_count
                                                     FROM comment_info
                                                     GROUP BY ve_id) Y
        ON X.ve_id = Y.ve_id
        ORDER BY c_count desc;

    </select>


    <select id = "getVodListWatching" resultType="com.komenta.be.model.vod.VodEpisodeDTO">
        SELECT X.ve_id, X.ve_episode_num, X.ve_upload_date, X.ve_contents, X.ve_admin, X.v_id, X.v_title, X.gd_id, X.g_name, X.gd_name, (case when Y.w_count IS NULL then 0 ELSE Y.w_count END) AS w_count
        FROM (SELECT E.ve_id, E.ve_episode_num, E.ve_upload_date, E.ve_contents, E.ve_admin, F.v_id, F.v_title, F.gd_id, F.g_name, F.gd_name
              FROM vod_episode E LEFT OUTER JOIN (SELECT C.v_id, C.v_title, C.v_summary, C.v_director, C.v_actors, C.v_age_grade, C.v_poster, D.gd_id, D.g_name, D.gd_name
                                                  from vod C LEFT OUTER JOIN (SELECT A.gd_id, B.g_id, B.g_name, A.gd_name
                                                                              FROM genre_detail A INNER JOIN genre B
                                                                                                             ON A.g_id = B.g_id) D
                                                                             ON C.gd_id = D.gd_id) F
                                                 ON E.v_id = F.v_id) X LEFT OUTER JOIN (SELECT ve_id, COUNT(*) AS w_count
                                                                                        FROM vod_history
                                                                                        GROUP BY ve_id) Y
                                                                                       ON X.ve_id = Y.ve_id
        ORDER BY w_count desc;
    </select>

    <select id="getVodInfoForUser" resultType="com.komenta.be.model.vod.VodInfoForUserDTO">
        SELECT F.v_id, F.v_title, F.g_name, F.gd_name, F.v_actors, F.v_director, A.ve_id, A.ve_episode_num
        FROM vod_episode A RIGHT OUTER JOIN (SELECT D.v_id, D.v_title, D.v_summary, D.v_director, D.v_actors, D.v_age_grade, D.v_poster, D.gd_id, D.gd_name, E.g_id, E.g_name
                                             FROM (SELECT B.v_id, B.v_title, B.v_summary, B.v_director, B.v_actors, B.v_age_grade, B.v_poster, C.gd_id, C.gd_name, C.g_id
                                                   FROM vod B LEFT OUTER JOIN genre_detail C
                                                                              ON B.gd_id = C.gd_id
                                                   WHERE B.v_id = #{v_id}) D LEFT OUTER JOIN genre E
                                                                                             ON D.g_id = E.g_id) F
                                            ON A.v_id = F.v_id
        ORDER BY ve_episode_num desc
    </select>

    <select id ="getVodListGenre" parameterType="int" resultType="com.komenta.be.model.vod.VodInfoByGenreDTO">
        SELECT A.v_id, A.v_poster, A.v_title
        FROM vod A LEFT OUTER JOIN genre_detail B
        ON A.gd_id = B.gd_id
        WHERE B.g_id = #{g_id}
    </select>


    <select id="getVodListGenreDetail" parameterType="int" resultType="com.komenta.be.model.vod.VodInfoByGenreDTO">
        SELECT v_id, v_poster, v_title
        FROM vod
        WHERE gd_id = #{gd_id}
    </select>


    <select id="getAllVod" resultType="com.komenta.be.model.vod.VodSearchInfoDTO">
        SELECT B.v_id, B.v_title, A.ve_episode_num, A.ve_id, B.gd_id FROM vod B INNER JOIN
                      (SELECT v_id, ve_id, MAX(ve_episode_num) as ve_episode_num
                       FROM vod_episode
                       GROUP BY v_id) A
                      ON A.v_id = B.v_id;
    </select>

    <select id="getVodHistoryByUAndVe" parameterType="com.komenta.be.model.vod.VodHistorySetDTO" resultType="int">
        SELECT COUNT(*)
        FROM vod_history
        WHERE u_id = #{u_id}
        AND ve_id = #{ve_id}
    </select>

    <insert id="insertVodHistory" parameterType="com.komenta.be.model.vod.VodHistorySetDTO">
        INSERT INTO vod_history (u_id, ve_id)
        VALUES (#{u_id} ,#{ve_id})
    </insert>

    <update id="updateTime" parameterType="com.komenta.be.model.vod.VodUpdateTimeDTO">
        UPDATE vod_history
        SET vh_last_watched_time = NOW(),
            vh_watching_time = #{vh_watching_time}
        WHERE u_id = #{u_id}
        AND ve_id = #{ve_id}
    </update>

    <select id = "getVodDetail" parameterType="com.komenta.be.model.vod.VodHistorySetDTO" resultType="com.komenta.be.model.vod.VodDetailDTO">
    SELECT C.*, H.v_title, H.v_summary, H.v_director, H.v_actors, H.v_age_grade, H.v_poster, H.gd_id, H.g_name, H.gd_name
    FROM (SELECT A.*, B.vh_id, (case when B.vh_watching_time IS NULL then "00:00:00" ELSE B.vh_watching_time END) AS vh_watching_time
		  FROM (SELECT ve_id, ve_episode_num, ve_contents, ve_admin, ve_upload_date, v_id
				FROM vod_episode
				WHERE ve_id = #{ve_id}) A LEFT OUTER JOIN (SELECT vh_id, vh_watching_time, ve_id
														   FROM vod_history
														   WHERE u_id = #{u_id}) B
		  ON A.ve_id = B.ve_id) C LEFT OUTER JOIN (SELECT D.v_id, D.v_title, D.v_summary, D.v_director, D.v_actors, D.v_age_grade, D.v_poster, D.gd_id, G.g_name, G.gd_name
												   FROM vod D LEFT OUTER JOIN (SELECT E.gd_id, F.g_name, E.gd_name
									 										   FROM genre_detail E LEFT OUTER JOIN genre F
									 										   ON E.g_id = F.g_id) G
		                                           ON D.gd_id = G.gd_id) H
    ON C.v_id = H.v_id
    </select>
</mapper>
